<div class="header">
  <h1>Recettes de la semaine prochaine</h1>

  @if (!hasPredefinedRecettes) {
    <button (click)="validateSelection()" [disabled]="!canValidate()">
      Valider
    </button>
  }
</div>

@if (recettes | async; as recettes) {
<div class="cards">
  @for (recette of recettes; track recette.id) {
  <div class="card" (click)="onCardClick(recette)" [ngClass]="{ 'selected': isSelected(recette) }">
    <img [src]="recette.image_path" alt="{{ recette.nom }}" />
    <div class="card-body">
      <h3>{{ recette.nom }}</h3>
      <div class="categories">
        @for (categorie of recette.categories; track categorie) {
        <span class="badge" [style.backgroundColor]="getCategoryColor(categorie)">
          {{ categorie }}
        </span>
        }
      </div>
      <div class="temps-total">
       <strong>Temps total : </strong> {{ recette.temps_total }}
      </div>
    </div>
  </div>
  }
</div>
} @else {
<p>Aucune recette disponible…</p>
}
